<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="UTF-8" />
<title>Lista os Livros</title>
</head>
<body>
	<h1 layout:fragment="header">
<a th:href="@{/livros/novo}"  class="btn btn-sm btn-info"><i class="glyphicon glyphicon-plus"></i></a>
		Livros
</h1>

	<div layout:fragment="content" class="container">
	
	<table>
		<thead>
			<tr>
				<th scope="col"></td>
				<td>ID</td>
				<td>Título</td>
				<td></td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${livros.empty}">
				<td colspan="2">Sem livros</td>
			</tr>

			<tr th:each="livro : ${livros}">
			<th scope="row">
				<img th:if="${livro.capa}" th:src="@{'/' + ${livro.capa}}" width="100px" />
				<img th:unless="${livro.capa}" th:src="@{'../img/unless.png'}" width="100px" />
			</th>
				<td th:text="${livro.id}">1</td>
				<td><a href="#" th:href="@{'/livros/'+${livro.id}}"
					th:text="${livro.nome}"> Título </a></td>
					<td>
				<a href="#" th:href="@{'/livros/alterar/'+${livro.id}}" > Altera </a>
			</td>				
			<td>
				<a href="#" th:href="@{'/livros/excluir/'+${livro.id}}" > Excluir </a>
			</td>
			</tr>
		</tbody>
	</table>
	</div>
</body>
</html>
